body {
    margin: 0;
    padding: 0;
}
.container {
    background-color: antiquewhite;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}
.display #display {
    margin: 0;
    text-align: end;
    font-size: 24px;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 5px;
    width: 258px;
}
/* .buttons {
    display: grid;
    gap: 5px;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    justify-items: start;
    align-content: center;
} */
.buttons {
    display: grid;
    gap: 5px;
    padding-top: 5px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}
#equals {
    background-color: cornflowerblue;
}

#backspace {
    grid-row: span 2;
}
#equals {
    grid-row: span 2;
}
button {
    border: 1px gray solid;
    border-radius: 3px;
}
button:hover {
    background-color: aliceblue;
}
button:active {
    background-color: darkgray;
}